<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- this is a local dir, used for temporarily storing test packages -->
    <add key="local-temp" value="local-packages" />
  </packageSources>
</configuration>
